@page "/pwd"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage pls
<h3>Passwort</h3>
<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Passwort" @bind="Eingabe">
        <button class="btn btn-outline-secondary" type="button" @onclick="save">
            <i class="bi bi-floppy"></i> save
        </button>
    </div>

</div>
@code {
    string Eingabe;
    void save()
    {
        pls.SetAsync("pwd", Eingabe);

    }
    //für Prerender =true saveway
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result=await pls.GetAsync<string>("pwd");
            if (result.Success)
            {
                Eingabe = result.Value;
                StateHasChanged();
            }
        }
    }
}
